@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap" rel="stylesheet');

body {
  margin:0;
  padding:0;
}

h1 {
  font-family: 'Lobster Two';
  font-size: 10vmin;
  color: #a26769;
  text-align: center;
}

h3 {
  font-family: 'Oranienbaum';
  font-size: 4vmin;
  color: #a26769;
  text-align: center;
}




.sec1{
  line-height:2vmin;
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
  background-color:#d5b9b2
}

.sec2 {
    padding-right: 2vmin;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding-left: 2vmin; 
    background-color: white;
}

button{
    font-size:3vmin; 
    border-radius:2vmin; 
    padding:2vmin; 

}
















